.video-section .card {
   transform: translateY(0);
}

.card .fa-play {
   top: 39%;
   right: 45%;
}

time {
   font-size: 13px;
   bottom: 5px;
   left: 5px;
}

@media (max-width: 991.8px) {
   .navbar .navbar-nav .nav-link {
      padding: 5px !important;
   }
}

@media (max-width: 587.8px) {
   .navbar .navbar-nav .nav-link {
      font-size: 13px;
      padding: 4px !important;
   }
}

.social-media {
   bottom: 15px;
   left: 20px;
}
.sub {
   bottom: 15px;
   right: 20px;
}
